.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  padding: 8px 12px;
  justify-content: space-between;
}

.tw-followCard:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-button {
  font-size: 12px;
  margin-left: 16px;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid white;
}

.tw-followCard-button:hover {
  cursor: pointer;
}

.tw-followCard-button.is-following {
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  min-width: 121px;
}

.tw-followCard-button.is-following:hover {
  color: red;
  background-color: rgba(255, 0, 0, 0.05);
  ;
  border: 1px solid rgba(255, 0, 0, 0.3);
}