@import url("css/variables.css");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.player-turn {
  display: flex;
  align-items: center;
  justify-content: center;

  >div {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;

    &.yellow {
      background: var(--checker-yellow);
    }

    &.red {
      background: var(--checker-red);
    }
  }
}

.board {
  background-color: var(--background-board-color);
  border-radius: 20px;
  padding: 30px 15px;
  display: flex;
  gap: 10px;

  &:hover {
    cursor: pointer;
  }
}