:root {
  --background-color: #7ec0ee;
  --background-board-color: #00568f;
  --background-checker-color: #7ec0ee;
  --background-checker-color-hover: #c7e6fc;
  --checker-yellow: #fcbb2c;
  --checker-red: #de002b;
}