body {
  /* background-color: var(--background-body); */
}

header {
  display: flex;
  align-items: center;
  padding-block: 1.5rem;
  border-bottom: 1px solid var(--border);
  justify-content: center;
  position: relative;
  gap: 15px;

  & h1 {
    margin: 0;
    margin-right: 2rem;
    position: absolute;
    left: 0;
    font-size: 18px;
  }

  & input {
    min-width: 50%;
  }

}

.aside {
  min-width: 260px;


}

input {
  box-sizing: border-box;
}

main {
  display: flex;
  padding-block: 15px;
}

aside {
  min-width: 200px;
}

.card {
  display: flex;
  align-items: flex-start;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  padding: 12px 16px 20px 12px;
  position: relative;

  .imageContainer {
    width: 196px;
    height: 196px;
    min-width: 196px;
    min-height: 196px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & img {
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  & .bookTitle {
    font-size: 18px;
    margin: 0;
    margin-top: 12px;
  }
}

.cardContent {
  margin-left: 24px;
}

.bookAuthor {
  font-size: 14px;
  margin: 0;
  margin-top: 12px;
}

.bookDescription {
  font-size: 14px;
  margin: 0;
  margin-top: 12px;
}

.bookPrice {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  margin-top: 12px;
}

.tags {
  position: absolute;
  right: 16px;
  bottom: 20px;
  display: flex;
  gap: 12px;

  & span {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .pdf {
    background-color: #DA1618;
  }

  .epub {
    background-color: #85B916;
  }
}